@use '../utils' as *;

.main-container {
  width: 70%;
  margin: rem(20px) auto;
  border-radius: rem(5px);
  li {
    cursor: pointer;
  }
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 30px;
  margin-top: rem(20px);
}

.main-post {
  margin: rem(20px) rem(30px) rem(10px) 0;
  width: 100%;
}
.main-post {
  border: 2px solid $gray;
  margin-bottom: 15px;
  word-break: break-all;
  border-radius: rem(5px);
  padding: rem(20px) rem(30px);
  line-height: 200%;
  overflow: hidden;

  &__title {
    display: block;
    font-size: rem(30px);
    font-weight: rem(800px);
    margin: rem(20px) 0;
  }

  &__desc {
    font-size: rem(20px);
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &__desc::before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  img {
    display: block;
    margin: rem(20px) auto;
    width: 100%;
    max-height: rem(250%);
  }

  .user-info {
    a {
      text-decoration: none;
    }
    a:visited {
      color: black;
      text-decoration: none;
    }
    display: flex;
    align-items: center;
  }

  .avatar-button--main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    background-size: cover;
    height: rem(50%);
    width: rem(50%);
    object-fit: contain;
  }

  .user-nickname {
    margin-left: rem(10px);
    font-size: rem(25px);
  }
  transition: all 0.5s;
  transition-timing-function: ease;
}

.main-post:hover {
  transition: all 0.5s;
  transition-timing-function: ease;
  transform: translateY(-10px);
}
