@use '../utils/unit' as *;
@use '../utils/colors' as *;

.button {
  all: unset;
  cursor: pointer;
  border-radius: rem(5px);
  width: rem(150px);
  height: rem(50px);
  text-align: center;
  color: $white;
  font-size: rem(16px);
  background: $blue;
}
