@use '../utils/unit' as *;

.post {
  height: rem(150%);
  width: rem(150%);
  padding: rem(10px);
  margin: 0 rem(20px);
  background: rgb(135, 226, 248);

  &__title {
    display: block;
    font-size: rem(20px);
    font-weight: rem(800px);
    margin-bottom: rem(10px);
  }

  &__desc {
    font-size: rem(15px);
  }
}

.main-post {
  padding: rem(10px);
  margin: rem(20px);
  background: rgb(135, 226, 248);
  display: inline-block;

  &__title {
    display: block;
    font-size: rem(20px);
    font-weight: rem(800px);
    margin-bottom: rem(10px);
  }

  &__desc {
    font-size: rem(15px);
  }
}
