@use '../utils' as *;

.develog-container {
  min-width: rem(1000px);
  width: 70%;
  margin: 0 auto;
}

.post {
  height: rem(150%);
  width: rem(150%);
  padding: rem(10px);
  margin: 0 rem(20px);
  line-height: 200%;
  border-radius: rem(5px);
  word-break: break-all;
  border: 2px solid $gray;
  grid-area: post;

  &__title {
    display: block;
    font-size: rem(20px);
    font-weight: 700px;
    margin-bottom: rem(20px);
  }

  &__desc {
    font-size: rem(15px);
  }
}

.post:hover {
  transition: all 0.5s;
  transition-timing-function: ease;
  position: relative;
  transform: translateY(-10px);
}

.popular-posts,
.all-posts {
  display: flex;
  border: 1px solid $gray;
  border-radius: rem(5px);
  padding: rem(20px);

  &__title {
    font-size: rem(20px);
    font-weight: 700;
  }
}

li {
  cursor: pointer;
}

.popular-posts {
  height: rem(180%);
  margin: rem(15px) 0;
}

.all-posts {
  display: grid;
  padding: rem(20px) rem(20px) 0;
  //한번에 4개씩 뿌려줄것. 글 개수가 40개라면 세로는 포스트 세로 * 10만큼.
  // height: calc(rem(150%) * --num);
  height: 300px;
  grid-template-areas: 'post post post post';

  &__title {
    display: block;
    margin-top: rem(30px);
    margin-bottom: rem(20px);
  }
}
