@use '../utils' as *;

.develog-container {
  min-width: rem(1100px);
  width: 70%;
  margin: 0 auto;
  li {
    cursor: pointer;
  }
}

.post {
  height: rem(250%);
  padding: rem(10px);
  line-height: 200%;
  border-radius: rem(5px);
  word-break: break-all;
  border: 2px solid $gray;
  grid-area: post;

  &__title {
    display: block;
    font-size: rem(25px);
    font-weight: 700px;
    margin-bottom: rem(20px);
  }

  &__desc {
    font-size: rem(15px);
  }
}

.post:hover {
  transition: all 0.5s;
  transition-timing-function: ease;
  position: relative;
  transform: translateY(-10px);
}

.popular-posts,
.all-posts {
  position: relative;
  border: 1px solid $gray;
  border-radius: rem(5px);
  padding: rem(20px);

  &__title {
    font-size: rem(23px);
    font-weight: 700;
  }
}

.popular-posts {
  height: rem(300%);
  margin: rem(30px) 0 rem(15px);
  display: flex;
  justify-content: center;

  .post {
    width: rem(250%);
    margin: rem(5%) rem(20px) 0;
  }
}

.all-posts {
  width: 100%;
  .post-sizer,
  .post {
    margin-bottom: rem(25px);
    background: aquamarine;
    width: 22%;
    @media all and (min-width: 1000px) and (max-width: 1520px) {
      // width: 30%;
    }
  }
  &__title {
    display: block;
    margin-top: rem(30px);
    margin-bottom: rem(20px);
  }
}
