@use '../utils' as *;

.main-container {
  width: 70%;
  margin: rem(20px) auto;
  border-radius: rem(5px);
  li {
    cursor: pointer;
  }
}

.posts-container {
  width: 100%;
  margin: rem(20px);
}

.main-post-sizer,
.main-post {
  width: 23%;
  @media all and (min-width: 890px) and (max-width: 1200px) {
    width: 30%;
  }
  @media all and (min-width: 620px) and (max-width: 889px) {
    width: 40%;
  }
  @media all and (max-width: 619px) {
    width: 100%;
  }
}
.main-post {
  border: 2px solid $gray;
  margin-bottom: 15px;
  word-break: break-all;
  border-radius: rem(5px);
  padding: rem(20px);
  line-height: 200%;

  &__title {
    display: block;
    font-size: rem(30px);
    font-weight: rem(800px);
    margin: rem(20px) 0;
  }

  &__desc {
    font-size: rem(20px);
  }

  img {
    display: block;
    margin: rem(20px) auto;
    width: 100%;
    max-height: rem(250%);
  }

  .user-info {
    a {
      text-decoration: none;
    }
    a:visited {
      color: black;
      text-decoration: none;
    }
    display: flex;
    align-items: center;
  }

  .avatar-button--main {
    background: url('../assets/doctorStrange_profile.jpg') no-repeat;
    background-size: cover;
    height: rem(50%);
    width: rem(50%);
    object-fit: contain;
  }

  .user-nickname {
    margin-left: rem(10px);
    font-size: rem(25px);
  }
  transition: all 0.5s;
  transition-timing-function: ease;
}

.main-post:hover {
  transition: all 0.5s;
  transition-timing-function: ease;
  transform: translateY(-10px);
}
