@use '../utils/unit' as *;
@use '../utils/colors' as *;

.mypageEdit--avatar {
  position: relative;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('../assets/avatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: rem(30px) auto;
  transition: all 0.3s;
  cursor: pointer;

  .plusIcon {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50px;
    font-weight: 300;
    z-index: 100;
    border-radius: 50%;
    background-color: $white;
  }

  &:hover .plusIcon {
    background-color: $black;
    color: $white;
  }
}
.mypageEdit {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--form {
    margin: 0;
  }

  .input-box {
    width: 100%;
  }
}
.button-group {
  display: flex;
  justify-content: space-around;
  .button {
    margin: 0 rem(20px);
    margin-bottom: rem(50px);
  }
}
