//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$red: #f05454;
$blue: #3d84d7;
$gray: #c4c4c4;
$fullheart: #e71e48;
$green: #3aaf65;
$disabled: #bababa;
$darkgray: #797979;
$lightgray: #eee;
